.container{ 
	margin: 0 auto;
	max-width: 1280px;
	width: 100%;
 }

.gaugeList {

display: flex;
flex-direction: row;
flex-flow: row wrap;
justify-content: left;  

}

.floor{


display: flex;
flex-direction: row;
flex-flow: row wrap;
justify-content: left;


}

.floor:nth-child(even)
{
	background: #745cb0;
}

.floor:nth-child(odd)
{
	background: #a483f6;
}


.gaugeItem {
	border-radius: 10%;
	color: white;
}

.gaugeTitle
{
	 color: white;
	 text-align: center;
}


.buildingTitle
{
	border-bottom: solid 2px black ; 

}


.floorAcrostic
{
	writing-mode: vertical-lr;
	color: white;
	text-orientation: upright;
	padding-top: 0.5em; 
}

.controlPanel
{
	width: 10em;
	background: #2eb04b;
	border-radius: 10px; 
	padding:5px;
	z-index: 10; 
	top: 10px;
	right:10px;
	position: fixed;
	text-align: right; 

}